* {
    font-family: 'Merienda', sans-serif;
}

body {
    --tw-gradient-to: #7E5C3B;
    --tw-gradient-from: #7E5C3B ;
    --tw-gradient-to: rgba(233, 106, 2, 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
      background-image: linear-gradient(to right, var(--tw-gradient-stops));
      border: none;
    
}

.bok {
    background-color: #d2c1ae;
}

.pag {
    background-color:#caa682;
    transition: 0.5s;
}

.pag:hover {
    background-color: #926045;
    color: white;
    transition: 0.5s;
}